[user]
	name = Fotis Gimian
	email = fgimiansoftware@gmail.com
[alias]
	plog = log --color --pretty=format:\"%C(red)%h %C(yellow)%ad %C(green)%an%C(reset): %s\" --date=short
	ptag = tag --format=\"%(color:red)%(refname:short) %(color:yellow)%(taggerdate:short) %(color:green)%(*authorname)%(color:reset): %(subject)\"
	diffc = diff --cached
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^
[push]
	default = simple
